### Importing data using pandas

In [1]:
#Import pandas library
import pandas as pd

In [2]:
#Load "car_price_prediction_.csv" file using pandas and store in the variable "data"
data=pd.read_csv("car_sales_2.csv")

In [3]:
#Print the dataset "data"
data

     Year          Price
0    2006   38013.228009
1    2019   85414.830790
2    2014   68372.616866
3    2010   53535.271933
4    2007   31539.829835
..    ...            ...
195  2009   48161.082623
196  2011   59099.213668
197  2023  114941.199468
198  2014   75507.439589
199  2021  114945.998919

[200 rows x 2 columns]

### Seperation of data

In [4]:
#Load Mileage and store in Independent
Independent=data[["Year"]]

In [5]:
#Print the variable
Independent

     Year
0    2006
1    2019
2    2014
3    2010
4    2007
..    ...
195  2009
196  2011
197  2023
198  2014
199  2021

[200 rows x 1 columns]

In [6]:
#Load Price and store in Dependent
Dependent=data[["Price"]]

In [7]:
#Print the variable
Dependent

             Price
0     38013.228009
1     85414.830790
2     68372.616866
3     53535.271933
4     31539.829835
..             ...
195   48161.082623
196   59099.213668
197  114941.199468
198   75507.439589
199  114945.998919

[200 rows x 1 columns]

### Train_Test split

In [8]:
#Import sci-kit learn then import function train_test_split
from sklearn.model_selection import train_test_split

In [9]:
#Split the Independent using the variable x_train,x_test
#Split the Dependent using the variable y_train,y_test
x_train,x_test,y_train,y_test=train_test_split(Independent,Dependent,test_size=0.30,random_state=0)

In [10]:
#Print the variable
x_train

     Year
131  2011
96   2008
181  2000
19   2001
153  2016
..    ...
67   2003
192  2004
117  2006
47   2017
172  2005

[140 rows x 1 columns]

In [11]:
#Print the variable
x_test

     Year
18   2020
170  2024
107  2023
98   2012
177  2022
182  2024
5    2020
146  2008
12   2020
152  2006
61   2002
125  2015
180  2000
154  2019
80   2015
7    2018
33   2014
130  2002
37   2022
74   2017
183  2024
145  2006
45   2008
159  2012
60   2014
123  2001
179  2006
185  2012
122  2011
44   2020
16   2002
55   2019
150  2012
111  2007
22   2005
189  2005
129  2004
4    2007
83   2013
106  2007
134  2002
66   2007
26   2011
113  2002
168  2009
63   2016
8    2022
75   2011
118  2008
143  2022
71   2009
124  2000
184  2019
97   2014
149  2009
24   2020
30   2016
160  2014
40   2002
56   2014

In [12]:
#Print the varible
y_train

             Price
131   65186.944577
96    38906.266241
181   -3680.842254
19     3317.533009
153  104236.244121
..             ...
67    12654.523501
192   44512.800857
117   28128.248247
47    91189.784919
172   37491.056770

[140 rows x 1 columns]

In [13]:
#Print the variable
y_test

             Price
18    91781.230494
170  136724.357824
107  108169.603887
98    41819.317518
177  126362.423171
182  119549.623847
5     96775.106312
146   43845.265901
12   108380.226589
152   27123.980896
61    -4345.701955
125   85956.436518
180   -1689.748273
154   88164.268321
80    93644.334473
7    105049.868807
33    81054.831308
130   14523.562888
37   121170.037757
74    93158.909072
183  112326.176985
145   36572.018551
45    52412.406350
159   70998.966337
60    73570.090653
123    5449.668260
179   45606.385788
185   60699.746142
122   50865.874627
44    94722.891359
16     7373.730358
55   110652.924688
150   67710.617487
111   23081.817437
22    29545.973447
189   20187.996648
129   32768.230044
4     31539.829835
83    75035.970641
106   29745.001303
134   31637.697894
66    53431.682123
26    60280.994633
113     640.991806
168   55677.683678
63    84842.850601
8    110582.339768
75    60592.812841
118   45683.512511
143  107064.949823
71    80610.952144
124     872.383868
184  101102.995786
97    66864.789030
149   47953.834945
24   110124.237324
30    74032.477014
160   70187.518662
40    26692.076470
56    83539.977865

### LinearRegression

In [30]:
#Import LinearRegression Algorithm from sci-kit learn
from sklearn.linear_model import LinearRegression

In [31]:
#Store the LinearRegression in variable regression
regression=LinearRegression()

In [32]:
#Print the variable 
regression

LinearRegression()

In [33]:
#checking the fit
regression.fit(x_train,y_train)

LinearRegression()

In [34]:
#Store the weight data in the variable "weight"
weight=regression.coef_

In [35]:
#Print the varible
weight

array([[5124.81065706]])

In [36]:
#Store the bias data in the variable "bias"
bias=regression.intercept_

In [37]:
#Print the variable
bias

array([-10245482.62004321])

### Evaluation matrix or Validation parameter

In [38]:
#Save the x_test data in the "y_pred" variable 
y_pred=regression.predict(x_test)

In [39]:
#Print the variable 
y_pred

array([[106634.90722272],
       [127134.14985097],
       [122009.33919391],
       [ 65636.42196622],
       [116884.52853685],
       [127134.14985097],
       [106634.90722272],
       [ 45137.17933797],
       [106634.90722272],
       [ 34887.55802385],
       [ 14388.3153956 ],
       [ 81010.85393741],
       [  4138.69408148],
       [101510.09656566],
       [ 81010.85393741],
       [ 96385.2859086 ],
       [ 75886.04328035],
       [ 14388.3153956 ],
       [116884.52853685],
       [ 91260.47525153],
       [127134.14985097],
       [ 34887.55802385],
       [ 45137.17933797],
       [ 65636.42196622],
       [ 75886.04328035],
       [  9263.50473854],
       [ 34887.55802385],
       [ 65636.42196622],
       [ 60511.61130916],
       [106634.90722272],
       [ 14388.3153956 ],
       [101510.09656566],
       [ 65636.42196622],
       [ 40012.36868091],
       [ 29762.74736679],
       [ 29762.74736679],
       [ 24637.93670972],
       [ 40012.36868091],
       [ 70761.23262329],
       [ 40012.36868091],
       [ 14388.3153956 ],
       [ 40012.36868091],
       [ 60511.61130916],
       [ 14388.3153956 ],
       [ 50261.98999504],
       [ 86135.66459447],
       [116884.52853685],
       [ 60511.61130916],
       [ 45137.17933797],
       [116884.52853685],
       [ 50261.98999504],
       [  4138.69408148],
       [101510.09656566],
       [ 75886.04328035],
       [ 50261.98999504],
       [106634.90722272],
       [ 86135.66459447],
       [ 75886.04328035],
       [ 14388.3153956 ],
       [ 75886.04328035]])

In [40]:
#Import r2_score from sci-kit learn for testing
from sklearn.metrics import r2_score

In [41]:
#Store Accuracy score in the variable "r_score"
r_score=r2_score(y_test,y_pred)

In [42]:
#Print the varible 
r_score

0.9266171081381696

### Save the Model

In [43]:
#Import pickle library
import pickle

In [44]:
#Save the model name
filename="car_sales.sav"

In [45]:
#Save the Model into model name
pickle.dump(regression,open(filename,'wb'))

In [46]:
#Load the Model
loaded_model=pickle.load(open("car_sales.sav",'rb'))

In [48]:
#Predict the result and store in the varible "result"
result=loaded_model.predict([[2024]])

C:\a\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [49]:
#Print the variable
result

array([[127134.14985097]])